.footer {
  position: absolute;
  width: 90%;
  bottom: 0;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    padding-left: 80px;
  }

  p {
    padding-right: 20px;
    font-weight: 400;
  }
}
